/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #083B4C;
}

.big-container{
    max-width: 1200px;

    margin: 0 auto;
}

/* TESTO */
h1{
    margin: 3rem 0;

    font-size: 5rem;
    text-align: center;
    
    color: #FFFFFF;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

.square{
    aspect-ratio: 1/1;
    
    position: relative;

    width: calc((100% / 7) - 2rem );
    margin: 1rem 1rem;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px #00003D;

    background-color: #1389B2;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5rem;
}

/* COLORI */
.red{
    background-color: #F0466F;
}

.green{
    background-color:#0CD6A1;
}

.yellow{
    background-color:#FFD166;
}